<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spot.name %>
</p>

<p>
  <b>Lat:</b>
  <%= @spot.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @spot.lon %>
</p>

<p>
  <b>Info:</b>
  <%= @spot.info %>
</p>

<p>
  <b>Opentime:</b>
  <%= @spot.opentime %>
</p>

<p>
  <b>Attr1:</b>
  <%= @spot.attr1 %>
</p>

<p>
  <b>Attr2:</b>
  <%= @spot.attr2 %>
</p>

<p>
  <b>Attr3:</b>
  <%= @spot.attr3 %>
</p>

<p>
  <b>Attr4:</b>
  <%= @spot.attr4 %>
</p>

<p>
  <b>Attr5:</b>
  <%= @spot.attr5 %>
</p>

<p>
  <b>Photo:</b>
  <%= @spot.picture %>
</p>


<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
